/**
 * Theme Name: SoftonITG Test
 * Theme URI: https://github.com/Davirchi/SoftonITG-Test
 * Author: Jostvian
 * Author URI: http://jostvian.me/
 * Description: Theme created for placemet test on SoftonITG.
 * Version: 1.0
 * Text Domain: SoftonITG-Test-theme
 **/
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000; }

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  margin-top: -18px;
  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Align the bootstrap's container vertically */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /*Main container*/ }
  .vertical-center .container {
    /*Retouch text container*/
    /*Graphics text container*/
    /*Text containers gradients*/ }
    .vertical-center .container .retouch-text {
      min-height: 220px; }
    .vertical-center .container .we-do-magic, .vertical-center .container .retouch, .vertical-center .container .graphics {
      background-size: contain; }
    .vertical-center .container .graphics-text {
      min-height: 220px; }
    .vertical-center .container .retouch-text, .vertical-center .container .graphics-text {
      background: -webkit-linear-gradient(336deg, rgba(26, 60, 104, 0.98) 0%, rgba(36, 81, 117, 0.98) 100%);
      background: -o-linear-gradient(336deg, rgba(26, 60, 104, 0.98) 0%, rgba(36, 81, 117, 0.98) 100%);
      background: -ms-linear-gradient(336deg, rgba(26, 60, 104, 0.98) 0%, rgba(36, 81, 117, 0.98) 100%);
      background: -moz-linear-gradient(336deg, rgba(26, 60, 104, 0.98) 0%, rgba(36, 81, 117, 0.98) 100%);
      background: linear-gradient(114deg, rgba(26, 60, 104, 0.98) 0%, rgba(36, 81, 117, 0.98) 100%); }

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    /*First image*/
    /*Second image*/
    /*Third image*/ }
    .container .we-do-magic {
      height: 651px;
      background: url(img/magic.jpg); }
    .container .retouch {
      height: 800px;
      background: url(img/retouch.jpg); }
    .container .graphics {
      height: 652px;
      background: url(img/graphics.jpg); } }
@media (min-width: 768px) and (max-width: 1199px) {
  .vertical-center .container {
    width: 636px; }
    .vertical-center .container .we-do-magic {
      height: 344.21625px;
      background: url(img/graphics_636.jpg); }
    .vertical-center .container .retouch {
      height: 423px;
      background: url(img/retouch_636.jpg); }
    .vertical-center .container .graphics {
      height: 344.745px;
      background: url(img/graphics_636.jpg); } }
@media (max-width: 767px) {
  .vertical-center .container {
    width: 320px; }
    .vertical-center .container .we-do-magic {
      height: 172.49547px;
      background: url(img/magic_320.jpg); }
    .vertical-center .container .retouch {
      height: 212px;
      background: url(img/retouch_320.jpg); }
    .vertical-center .container .graphics {
      height: 173.47634px;
      background: url(img/graphics_320.jpg); } }

/*# sourceMappingURL=style.css.map */
